<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="" method="post" id="formulary">
            <h1>Sign In</h1>
            {{ form.hidden_tag() }}

            <p>{{ form.username(size=32, class_="fields") }}</p>
            <p>{{ form.password(size=32, class_="fields") }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
